header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7.813rem;
  background-color: #F7F7F7;
}
header > section {
  width: 100%;
  height: 5rem;
}
header > section:first-child {
  border-bottom: 1px solid #CACACA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > section:first-child > div:first-child {
  margin-left: 7.625rem;
  display: flex;
  align-items: center;
}
header > section:first-child > div:first-child #logo {
  width: 3.125rem;
  border: 1px solid #CACACA;
  border-radius: 50%;
}
header > section:first-child > div:first-child p {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
header > section:first-child > div:first-child p span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.32px;
}
header > section:first-child > div:first-child p span:last-child {
  letter-spacing: 1.6px;
}
header > section:first-child > div:nth-child(2) {
  margin-right: 7.625rem;
  display: flex;
  align-items: center;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  width: 12.5rem;
  position: relative;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] input {
  border: 1px solid #CACACA;
  border-radius: 5px;
  height: 1.938rem;
  width: 12.313rem;
  padding: 6px 14px;
  box-sizing: border-box;
  outline: none;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] svg {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.5rem;
}
header > section:first-child > div:nth-child(2) ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header > section:first-child > div:nth-child(2) ul li svg {
  width: 2rem;
  height: 2rem;
}
header > section:nth-child(2) {
  height: 2.813rem;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
header > section:nth-child(2) nav {
  display: flex;
  width: calc(100% - 15.25rem);
}
header > section:nth-child(2) nav > ul {
  width: 100%;
  height: 2.813rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
header > section:nth-child(2) nav > ul > li:first-child a {
  position: relative;
  text-decoration: none;
  color: #B82626;
  transition: color 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li:first-child a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #B82626;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li:first-child a:hover {
  color: #B82626;
}
header > section:nth-child(2) nav > ul > li:first-child a:hover::after {
  width: 100%;
  left: 0;
}
header > section:nth-child(2) nav > ul > li > a {
  font-weight: 600;
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li > a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li > a:hover {
  color: black;
}
header > section:nth-child(2) nav > ul > li > a:hover::after {
  width: 100%;
  left: 0;
}

footer {
  display: flex;
}

aside {
  width: 16.25rem;
  height: 100vh;
  background-color: #3F3F3F;
  display: block;
  float: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 2.5rem 2rem;
  box-sizing: border-box;
}
aside section:first-child {
  display: flex;
  align-items: center;
}
aside section:first-child img {
  width: 50px;
  margin-right: 5px;
  border: 1px solid #CACACA;
  border-radius: 50%;
}
aside section:first-child p {
  display: flex;
  flex-direction: column;
}
aside section:first-child p span {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.32px;
}
aside section:first-child p span:last-child {
  letter-spacing: 1.6px;
}
aside section:nth-child(2) {
  margin-top: 6.5rem;
}
aside section article {
  display: flex;
  align-items: center;
  padding: 0.688rem;
  box-sizing: border-box;
  border-radius: 5px;
}
aside section article:hover {
  background-color: #282828;
  cursor: pointer;
}
aside section article svg {
  width: 20px;
  margin-right: 10px;
}
aside section article a {
  text-decoration: none;
}
aside section article span {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

#slider {
  width: 100%;
  height: 300px;
  border: 1px solid black;
}

main#index-grid {
  display: grid;
  grid-template-columns: 7.625rem auto 7.625rem;
  height: 100vh;
}
main#index-grid .top-card {
  width: 18rem;
  height: 18.75rem;
  border: 1px solid rgba(202, 202, 202, 0.5960784314);
  border-radius: 10px;
  background: #F7F7F7;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
main#index-grid .warp {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
main#index-grid div:nth-child(2) section:first-child h2 {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #B82626;
}
main#index-grid div:nth-child(2) section:first-child h2 img {
  width: 32px;
  height: 32px;
}
main#index-grid div:nth-child(2) section:nth-child(2) {
  margin-top: 2rem;
}
main#index-grid div:nth-child(2) section:nth-child(2) > div {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 11rem);
  overflow: hidden;
}
main#index-grid div:nth-child(2) section:nth-child(2) > div a {
  overflow: hidden;
  background-color: rgba(41, 41, 41, 0.7);
  position: relative;
}
main#index-grid div:nth-child(2) section:nth-child(2) > div a:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
}
main#index-grid div:nth-child(2) section:nth-child(2) > div a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: darken;
  transition: transform 0.3s ease-in-out;
}
main#index-grid div:nth-child(2) section:nth-child(2) > div a span {
  text-transform: uppercase;
  color: white;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main#index-grid div:nth-child(2) section:nth-child(2) > div a:hover img {
  transform: scale(1.5);
}

main.dashboard {
  width: 100%;
  height: 100vh;
  background-color: #282828;
  color: white;
}

main#listar-categorias div {
  margin-left: 16.25rem;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 2rem;
}
main#listar-categorias div section:first-child {
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid #3F3F3F;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main#listar-categorias div section:first-child h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main#listar-categorias div section:first-child button {
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: content-box;
  background-color: #3F3F3F;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
}
main#listar-categorias div section:first-child button:hover {
  background-color: #575757;
}
main#listar-categorias div section:first-child button svg {
  width: 25px;
}
main#listar-categorias div section:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: end;
}
main#listar-categorias div section:nth-child(2) input {
  width: 21.063rem;
  padding: 0.7rem 1rem;
  background-color: #3F3F3F;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
}
main#listar-categorias div section:nth-child(3) table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #3F3F3F;
  border-radius: 10px;
}
main#listar-categorias div section:nth-child(3) table tr td {
  padding: 1rem 0.5rem;
}
main#listar-categorias div section:nth-child(3) table tr td a {
  text-decoration: none;
}
main#listar-categorias div section:nth-child(3) table tr td a#editar-categoria {
  color: rgb(0, 49, 209);
}
main#listar-categorias div section:nth-child(3) table tr td a#eliminar-categoria {
  color: rgb(202, 0, 0);
}
main#listar-categorias div section:nth-child(3) table tr th {
  text-align: left;
  padding: 0.5rem 0.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main#listar-categorias div section:nth-child(3) table tr:nth-child(even) {
  background-color: #575757;
}/*# sourceMappingURL=main.css.map */