header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7.813rem;
  background-color: #F7F7F7;
}
header > section {
  width: 100%;
  height: 5rem;
}
header > section:first-child {
  border-bottom: 1px solid #CACACA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > section:first-child > div:first-child {
  margin-left: 7.625rem;
  display: flex;
  align-items: center;
}
header > section:first-child > div:first-child #logo {
  width: 3.125rem;
  border: 1px solid #CACACA;
  border-radius: 50%;
}
header > section:first-child > div:first-child p {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
header > section:first-child > div:first-child p span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.32px;
}
header > section:first-child > div:first-child p span:last-child {
  letter-spacing: 1.6px;
}
header > section:first-child > div:nth-child(2) {
  margin-right: 7.625rem;
  display: flex;
  align-items: center;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  width: 12.5rem;
  position: relative;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] input {
  border: 1px solid #CACACA;
  border-radius: 5px;
  height: 1.938rem;
  width: 12.313rem;
  padding: 6px 14px;
  box-sizing: border-box;
  outline: none;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] svg {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.5rem;
}
header > section:first-child > div:nth-child(2) ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header > section:first-child > div:nth-child(2) ul li svg {
  width: 2rem;
  height: 2rem;
}
header > section:nth-child(2) {
  height: 2.813rem;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
header > section:nth-child(2) nav {
  display: flex;
  width: calc(100% - 15.25rem);
}
header > section:nth-child(2) nav > ul {
  width: 100%;
  height: 2.813rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
header > section:nth-child(2) nav > ul > li:first-child a {
  position: relative;
  text-decoration: none;
  color: #B82626;
  transition: color 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li:first-child a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #B82626;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li:first-child a:hover {
  color: #B82626;
}
header > section:nth-child(2) nav > ul > li:first-child a:hover::after {
  width: 100%;
  left: 0;
}
header > section:nth-child(2) nav > ul > li > a {
  font-weight: 600;
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li > a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li > a:hover {
  color: black;
}
header > section:nth-child(2) nav > ul > li > a:hover::after {
  width: 100%;
  left: 0;
}

footer {
  display: flex;
}

aside {
  width: 16.25rem;
  height: 100vh;
  background-color: #3F3F3F;
  display: block;
  float: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 2.5rem 2rem;
  box-sizing: border-box;
  position: relative;
}
aside section:first-child {
  display: flex;
  align-items: center;
}
aside section:first-child img {
  width: 50px;
  margin-right: 5px;
  border: 1px solid #CACACA;
  border-radius: 50%;
}
aside section:first-child p {
  display: flex;
  flex-direction: column;
}
aside section:first-child p span {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.32px;
}
aside section:first-child p span:last-child {
  letter-spacing: 1.6px;
}
aside section:nth-child(2) {
  margin-top: 6.5rem;
}
aside section:nth-child(3) {
  border-top: 1px solid #CACACA;
  position: absolute;
  bottom: 2.5rem;
}
aside section article {
  display: flex;
  align-items: center;
  padding: 0.688rem;
  box-sizing: border-box;
  border-radius: 5px;
}
aside section article:hover {
  background-color: #282828;
  cursor: pointer;
}
aside section article svg {
  width: 20px;
  margin-right: 10px;
}
aside section article a {
  text-decoration: none;
  color: white;
}
aside section article span {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
}

main#loginAdmin {
  background-color: black;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

#slider {
  width: 100%;
  height: 300px;
  border: 1px solid black;
}

.page-grid {
  display: grid;
  grid-template-columns: 7.625rem auto 7.625rem;
  min-height: 100vh;
}

main#index .top-card {
  width: 18rem;
  height: 18.75rem;
  border: 1px solid rgba(202, 202, 202, 0.5960784314);
  border-radius: 10px;
  background: #F7F7F7;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
main#index .warp {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
main#index div:nth-child(2) section:first-child h2 {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #B82626;
}
main#index div:nth-child(2) section:first-child h2 img {
  width: 32px;
  height: 32px;
}
main#index div:nth-child(2) section:nth-child(2) {
  margin-top: 2rem;
}
main#index div:nth-child(2) section:nth-child(2) > div {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 11rem);
  overflow: hidden;
}
main#index div:nth-child(2) section:nth-child(2) > div a {
  overflow: hidden;
  background-color: rgba(41, 41, 41, 0.7);
  position: relative;
}
main#index div:nth-child(2) section:nth-child(2) > div a:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
}
main#index div:nth-child(2) section:nth-child(2) > div a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: darken;
  transition: transform 0.3s ease-in-out;
}
main#index div:nth-child(2) section:nth-child(2) > div a span {
  text-transform: uppercase;
  color: white;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main#index div:nth-child(2) section:nth-child(2) > div a:hover img {
  transform: scale(1.5);
}

main.dashboard {
  width: 100%;
  height: 100vh;
  background-color: #282828;
  color: white;
}

main.listar > div {
  margin-left: 16.25rem;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 2rem;
}
main.listar > div section:first-child {
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid #3F3F3F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
main.listar > div section:first-child h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main.listar > div section:first-child a, main.listar > div section:first-child button {
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: content-box;
  background-color: #3F3F3F;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
}
main.listar > div section:first-child a:hover, main.listar > div section:first-child button:hover {
  background-color: #575757;
}
main.listar > div section:first-child a svg, main.listar > div section:first-child button svg {
  width: 25px;
}
main.listar > div section:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
main.listar > div section:nth-child(2) input {
  width: 21.063rem;
  padding: 0.7rem 1rem;
  background-color: #3F3F3F;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
}
main.listar > div section:nth-child(3) table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #3F3F3F;
  border-radius: 10px;
}
main.listar > div section:nth-child(3) table tr td {
  padding: 1rem 0.5rem;
  text-transform: capitalize;
}
main.listar > div section:nth-child(3) table tr td a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
main.listar > div section:nth-child(3) table tr td a.editar {
  color: #3b82f6;
}
main.listar > div section:nth-child(3) table tr td a.eliminar {
  color: rgb(202, 0, 0);
}
main.listar > div section:nth-child(3) table tr td span {
  display: flex;
  align-items: center;
  background-color: #228b22;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 20px;
}
main.listar > div section:nth-child(3) table tr td svg {
  width: 1.5rem;
  height: 1.5rem;
}
main.listar > div section:nth-child(3) table tr td img {
  width: 2rem;
}
main.listar > div section:nth-child(3) table tr th {
  text-align: left;
  padding: 0.5rem 0.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main.listar > div section:nth-child(3) table tr:nth-child(even) {
  background-color: #575757;
}
main.listar > div fieldset {
  border-radius: 10px;
  margin: 2rem 4rem;
  border: 2px solid #3F3F3F;
  padding: 1rem;
  box-sizing: border-box;
}
main.listar > div fieldset form[name=anadir-producto] {
  width: 45rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, auto);
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(1) {
  grid-area: 1/1/2/2;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(2) {
  grid-area: 2/1/3/2;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(3) {
  grid-area: 1/2/2/3;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(4) {
  grid-area: 2/2/3/3;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(5) {
  grid-area: 3/1/4/2;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(6) {
  grid-area: 4/1/5/2;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(7) {
  grid-area: 3/2/4/3;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(8) {
  grid-area: 4/2/5/3;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(9) {
  grid-area: 5/1/6/2;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(10) {
  grid-area: 6/1/7/2;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(11) {
  grid-area: 5/2/6/3;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(12) {
  grid-area: 6/2/7/3;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(13) {
  grid-area: 7/1/8/3;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(14) {
  grid-area: 8/1/9/3;
}
main.listar > div fieldset form[name=anadir-producto] div:nth-child(15) {
  grid-area: 9/1/10/3;
}

#anadirCategoria {
  position: absolute;
  right: 0;
  top: 5rem;
  background-color: #575757;
  border-radius: 10px;
}
#anadirCategoria fieldset {
  margin: 1rem;
}
#anadirCategoria fieldset form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}

.pagina-producto {
  margin-top: 2.375rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 3rem 2fr 1fr;
}
.pagina-producto section:nth-child(1) {
  grid-area: 1/1/2/3;
}
.pagina-producto section:nth-child(2) {
  grid-area: 2/1/3/2;
}
.pagina-producto section:nth-child(3) {
  grid-area: 2/2/3/3;
}
.pagina-producto section:nth-child(4) {
  grid-area: 3/1/4/3;
}
.pagina-producto section:nth-child(1) ul {
  list-style-type: none;
}
.pagina-producto section:nth-child(2) img {
  width: 19.688rem;
  border: 1px solid #CACACA;
}
.pagina-producto section:nth-child(3) {
  margin-left: 3rem;
}
.pagina-producto section:nth-child(3) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagina-producto section:nth-child(3) > div h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
.pagina-producto section:nth-child(3) > div span {
  text-decoration: line-through;
  color: #696969;
  font-weight: 400;
  font-size: 1.25rem;
}
.pagina-producto section:nth-child(3) section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pagina-producto section:nth-child(3) section div:first-child > span {
  color: #848484;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.688rem;
}
.pagina-producto section:nth-child(3) section div:first-child p {
  font-size: 1.25rem;
  font-weight: 700;
}
.pagina-producto section:nth-child(3) section div:first-child p #si-stock {
  color: #469E00;
}
.pagina-producto section:nth-child(3) section div:first-child p #no-stock {
  color: #950000;
}
.pagina-producto section:nth-child(3) article {
  margin: 1.563rem 0;
}
.pagina-producto section:nth-child(3) article h2 {
  font-size: 1.125rem;
  font-weight: 700;
}
.pagina-producto section:nth-child(3) article span {
  cursor: pointer;
}
.pagina-producto section:nth-child(3) article .containerCantidad {
  border: 0.5px solid black;
  width: 8.5rem;
  height: 1.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
}
.pagina-producto section:nth-child(3) article .containerCantidad input {
  width: 1rem;
  text-align: center;
  border: none;
}
.pagina-producto section:nth-child(3) article .containerCantidad button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.pagina-producto section:nth-child(3) article .containerCantidad button svg {
  width: 1.2rem;
}
.pagina-producto section:nth-child(3) article .producto-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}/*# sourceMappingURL=main.css.map */