*{
    margin: 0;
    padding: 0;
}

header {
    display: grid; 
    align-items: center;
    grid-template-columns: 0.4fr 1.8fr 0.8fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "Logo Barra-busqueda Iconos"; 
    background-color:#262525 ;
    height: 110px;
}
footer{
    display: grid; 
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "Logo Barra-busqueda Iconos";
    background-color: #605E5E;
    height: 90px;
    color: white;
}
.copy{
    text-align: center;
    font-size: 14px;
}
.chat{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.chat p{
    font-size: 12px;
    padding-left: 5px;
}
.RRSS{
    margin-right:50px;
   text-align: right;
}
.ImgPie{
    width: 40px;
}
#logo{
    margin-left: 30px;
}
#navegacion{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-image: url('../img/busqueda.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 220px center;
    padding-left: 20px;
    font-size: 15px;
}
#acciones{
    margin-left: 200px;
}
.imghdr{
    width: 35px;
    margin-left: 45px;
}