@import 'mixin.scss';

header {
    border: 1px solid black;
    @include flex(column, center, center);
    width: 100%;
    height: 7.813rem;

    > section{
        width: 100%;
        border: 1px solid red;
        height: 5rem;
        &:nth-child(2){
            height: 2.813rem;
            
            nav {
                display: flex;
                width: 100%;
                
                ul {
                    width: 100%;
                    height: 2.813rem;
                    @include flex(row, center, space-around);
                    list-style-type: none;
                    li {
                        
                        a {
                            font-weight: 600;
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }
    }
    
}