@import 'header.scss';
@import 'footer.scss';
@import 'variables.scss';
@import 'mixin.scss';

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

#slider {
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

main#index-grid {
    display: grid;
    grid-template-columns: 7.625rem auto 7.625rem;
    height: 100vh;


    .top-card {
        width: 18rem;
        height: 18.75rem;
        border: 1px solid #cacaca98;
        border-radius: 10px;
        background: $header-bg;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .warp {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
    }

    div {
        &:nth-child(2) {
            section {
                &:first-child {
                    h2 {
                        display: flex;
                        align-items: center;
                        margin-top: 4rem;
                        margin-bottom: 2rem;
                        color: $color-danger;

                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }

                &:nth-child(2) {
                    margin-top: 2rem;

                    > div {
                        width: 100%;
                        height: fit-content;
                        border: 1px solid black;
                        display: grid;
                        column-gap: 10px;
                        row-gap: 10px;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(3, 11rem);
                        overflow: hidden;
                        
                        a {
                            overflow: hidden;
                            background-color: rgba(41, 41, 41, 0.70);;
                            position: relative;

                            &:first-child {
                                grid-column: 1/2;
                                grid-row: 1/3;
                            }
                            
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                mix-blend-mode: darken;
                                transition: transform 0.3s ease-in-out; 
                            }

                            span {
                                text-transform: uppercase;
                                color: white;
                                font-size: 36px;
                                font-weight: 700;
                                letter-spacing: 3.6px;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                            }
                            
                            &:hover {
                                img {
                                    transform: scale(1.5);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

