@mixin flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin generateGridArea($selector, $areasCuadricula){
    @each $area in $areasCuadricula {
        $i: index($areasCuadricula, $area);
        #{$selector}:nth-child(#{$i}) {
            grid-area: #{nth($area, 1)} / #{nth($area, 2)} / #{nth($area, 3)} / #{nth($area, 4)};
        }
    }
}

@mixin grid($gridColums, $gridRows){
    display: grid;
    grid-template-columns: $gridColums;
    grid-template-rows: $gridRows;
}

@mixin btn-primary {
    background-color: black;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-color: #3F3F3F;
    }

    svg {
        width: 1.2rem;
        margin-right: 0.2rem;
    }
}