.producto-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
    max-width: 50rem;

}

.descripcionProd {
    max-height: 0; /* Inicialmente oculto */
    max-width: 50rem;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; /* Transición de 0.5 segundos con efecto ease-in-out */


    p { 
        text-align: justify; 
        margin: 0.5rem;
        
        span {
            text-transform: capitalize;
        }
    }


}

.descripcionProd.active {
    max-height: 200px; /* O ajusta a la altura máxima que desees */
}