#lienzo {
    width: 40rem;
    height: 20rem;
    border: 1px solid white;
    border-radius: 5px;
    background-color: $header-bg;
}

#toggleBtn, #guardarBtn {
    width: 10rem;
    height: 3rem;
    background-color: $dark3;
    border: 0.5px solid #616161;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover:not(#guardarBtn) {
        background-color: #616161;
    }

    svg {
        width: 1.1rem;
        margin-right: 0.5rem;
    }
}

#icon-borrar {
    display: none;
}

#guardarBtn {
    background-color: $save-green;

    &:hover {
        background-color: #269926;
    }
}


#canvas-btn-container{
    width: fit-content;
    height: 7rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#canvas-container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

#chartContainer {
    background-color: $dark3;
}

@media (max-width: 1024px) {
    #canvas-container {
        flex-direction: column;

        #canvas-btn-container {
            margin-top: 1rem;
            margin-left: 0rem;
            flex-direction: row;

            button {
                margin-right: 1rem;
            }
        }
    }
}