main.dashboard {
    width: 100%;
    height: 100vh;
    background-color: $dark1;
    color: white;
}

.admin-content {
    margin-left: 16.25rem;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 2rem;

    fieldset {
        border-radius: 10px;
        margin: 2rem 4rem;
        border: 2px solid $dark2;
        padding: 1rem;
        box-sizing: border-box;

        
    }
}

.admin-busqueda {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > form {
        margin: 1.5rem 0rem;
        position: relative;
        display: flex;
        align-items: center;

        svg {
            width: 1.5rem;
            position: absolute;
            right: 0.7rem;
        }
    }


    > form > input {
        width: 21.063rem;
        padding: 0.7rem 1rem;
        background-color: #3F3F3F;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
    }


}

table.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #3F3F3F;
    border-radius: 10px;
 
    tr {
        td {
            padding: 1rem 0.5rem;
            text-transform: capitalize;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                cursor: pointer;
                &.editar {
                    color: #3b82f6;
                }

                &.eliminar {
                    color: rgb(202, 0, 0);
                }
            }

            span {
                display: flex;
                align-items: center;
                background-color: $save-green;
                width: fit-content;
                padding: 0.2rem 1rem;
                border-radius: 20px;
                
            }

            svg {
                width: 1.5rem;
                height: 1.5rem;

            }

            img {
                width: 2rem;
            }
        }

        th {
            text-align: left;
            padding: 0.5rem 0.5rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            &:nth-child(7) {
                text-align: center;
            }
        }

        &:nth-child(even) {
            background-color: $dark3;
        }
    }
}

.table-scroll {
    max-height: 32rem;
    overflow-y: scroll;
}

/* Barra de desplazamiento */
.table-scroll::-webkit-scrollbar {
    width: 10px; /* ancho de la barra de desplazamiento */
  }
  
  /* Trazo de la barra */
  .table-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* color de fondo de la barra de desplazamiento */
  }
  
  /* Barra misma */
  .table-scroll::-webkit-scrollbar-thumb {
    background: #888; /* color de la barra de desplazamiento */
  }
  
  /* Esquina entre la barra de desplazamiento y el borde del elemento */
  .table-scroll::-webkit-scrollbar-corner {
    background: transparent; /* color de fondo de la esquina */
  }
  
  /* Pseudo-clase para la barra de desplazamiento al pasar el ratón sobre ella */
  .table-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; /* color de la barra de desplazamiento al pasar el ratón */
  }
  
  /* Barra de desplazamiento */
  .table-scroll {
    scrollbar-width: thin; /* ancho de la barra de desplazamiento */
    scrollbar-color: #888 #f1f1f1; /* color de la barra y del trazo */
  }
  
  /* Trazo de la barra */
  .table-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* color de fondo de la barra de desplazamiento */
  }
  
  /* Barra misma */
  .table-scroll::-webkit-scrollbar-thumb {
    background: #888; /* color de la barra de desplazamiento */
  }
  
  /* Pseudo-clase para la barra de desplazamiento al pasar el ratón sobre ella */
  .table-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; /* color de la barra de desplazamiento al pasar el ratón */
  }
  

form[name="editarCategoria"] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

#anadirCategoria {
    position: absolute;
    right: 0;
    top: 5rem;
    background-color: $dark2;
    border-radius: 10px;
    z-index: 999;

    fieldset {
        margin: 1rem;
        border: 1px solid $border-thin-color;
        form {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);

            input, select, button {
                background-color: $dark3;
            }

        }
        
    }
}

#datos-usuario {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 2rem;

    $cuadricula: (
        (1, 1, 2, 2),
        (1, 2, 2, 3),
        (1, 3, 2, 4),
        (1, 4, 2, 5),
        (2, 1, 3, 2),
        (2, 2, 3, 3),
        (2, 3, 3, 4),
        (2, 4, 3, 5)
    );

    @include generateGridArea(div, $cuadricula);

    div {
        &:nth-child(-n + 4) {
            font-weight: 500;
            font-size: 0.9rem;
            margin: 0.5rem;
        }

        &:nth-last-child(-n + 4) {
            background-color: $dark2;
            padding: 0.5rem 1rem;
            margin: 0.5rem;
            border-radius: 5px;
            color: $border-color;
        }
    }

}

.destacado { text-align: center; }

@media (max-width: 1024px) {
    .admin-content {
        margin-left: 6.25rem; 
    }

    table.admin-table {
        overflow-x: visible;
    }
}