.input {
    width: 100%;
    background-color: #3F3F3F;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    margin: 0.7rem auto;
    box-sizing: border-box;

    &:focus {
        background-color: #575757;
    }
}

option {
    text-transform: capitalize;
}

.form-products{
    width: 100%;
    
    $cuadricula: 
        (1, 1, 2, 2),
        (2, 1, 3, 2),
        (1, 2, 2, 3),
        (2, 2, 3, 3),
        (3, 1, 4, 2),
        (4, 1, 5, 2),
        (3, 2, 4, 3),
        (4, 2, 5, 3),
        (5, 1, 6, 2),
        (6, 1, 7, 2),
        (5, 2, 6, 3),
        (6, 2, 7, 3),
        (7, 1, 8, 3),
        (8, 1, 9, 3),
        (9, 1, 10, 3);
         
    @include grid(repeat(2, 2fr), repeat(9, auto));
    @include generateGridArea(div, $cuadricula);
    gap: 0.5rem;
    box-sizing: border-box;

    div {
        &:last-child {
            display: flex;
            justify-content: end;
        }
    }
}

.btn-submit {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border: 0.5px solid #525252;
    border-radius: 5px;
    background-color: #3F3F3F;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: #575757;
    }

    svg {
        width: 1.2rem;
    }
}
.btn-cancelar {
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 1rem;
}

