header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7.813rem;
  background-color: #F7F7F7;
}
header > section {
  width: 100%;
  height: 5rem;
}
header > section:first-child {
  border-bottom: 1px solid #CACACA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > section:first-child > div:first-child {
  margin-left: 7.625rem;
  display: flex;
  align-items: center;
}
header > section:first-child > div:first-child #logo {
  width: 3.125rem;
  border: 1px solid #CACACA;
  border-radius: 50%;
}
header > section:first-child > div:first-child p {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
header > section:first-child > div:first-child p span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.32px;
}
header > section:first-child > div:first-child p span:last-child {
  letter-spacing: 1.6px;
}
header > section:first-child > div:nth-child(2) {
  margin-right: 7.625rem;
  display: flex;
  align-items: center;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  width: 12.5rem;
  position: relative;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] input {
  border: 1px solid #CACACA;
  border-radius: 5px;
  height: 1.938rem;
  width: 12.313rem;
  padding: 6px 14px;
  box-sizing: border-box;
  outline: none;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] svg {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.5rem;
}
header > section:first-child > div:nth-child(2) ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header > section:first-child > div:nth-child(2) ul li svg {
  width: 2rem;
  height: 2rem;
}
header > section:nth-child(2) {
  height: 2.813rem;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
header > section:nth-child(2) nav {
  display: flex;
  width: calc(100% - 15.25rem);
}
header > section:nth-child(2) nav > ul {
  width: 100%;
  height: 2.813rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
header > section:nth-child(2) nav > ul > li:first-child a {
  position: relative;
  text-decoration: none;
  color: #B82626;
  transition: color 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li:first-child a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #B82626;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li:first-child a:hover {
  color: #B82626;
}
header > section:nth-child(2) nav > ul > li:first-child a:hover::after {
  width: 100%;
  left: 0;
}
header > section:nth-child(2) nav > ul > li > a {
  font-weight: 600;
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li > a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li > a:hover {
  color: black;
}
header > section:nth-child(2) nav > ul > li > a:hover::after {
  width: 100%;
  left: 0;
}/*# sourceMappingURL=header.css.map */