@charset "UTF-8";
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7.813rem;
  background-color: #F7F7F7;
  position: relative;
  z-index: 900;
}
header > section {
  width: 100%;
  height: 5rem;
}
header > section:first-child {
  border-bottom: 1px solid #CACACA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > section:first-child > div:first-child {
  margin-left: 7.625rem;
  display: flex;
  align-items: center;
}
header > section:first-child > div:first-child #logo {
  width: 3.125rem;
  border: 1px solid #CACACA;
  border-radius: 50%;
}
header > section:first-child > div:first-child p {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
header > section:first-child > div:first-child p span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.32px;
}
header > section:first-child > div:first-child p span:last-child {
  letter-spacing: 1.6px;
}
header > section:first-child > div:nth-child(2) {
  margin-right: 7.625rem;
  display: flex;
  align-items: center;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  width: 20rem;
  position: relative;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] input {
  border: 1px solid #CACACA;
  border-radius: 5px;
  height: 1.938rem;
  width: 100%;
  padding: 6px 14px;
  box-sizing: border-box;
  outline: none;
}
header > section:first-child > div:nth-child(2) form[name=busqueda] svg {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.5rem;
}
header > section:first-child > div:nth-child(2) ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header > section:first-child > div:nth-child(2) ul li svg {
  width: 2rem;
  height: 2rem;
}
header > section:nth-child(2) {
  height: 2.813rem;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
header > section:nth-child(2) nav {
  display: flex;
  width: calc(100% - 15.25rem);
}
header > section:nth-child(2) nav > ul {
  width: 100%;
  height: 2.813rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
header > section:nth-child(2) nav > ul > li:first-child a {
  position: relative;
  text-decoration: none;
  color: #B82626;
  transition: color 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li:first-child a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #B82626;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li:first-child a:hover {
  color: #B82626;
}
header > section:nth-child(2) nav > ul > li:first-child a:hover::after {
  width: 100%;
  left: 0;
}
header > section:nth-child(2) nav > ul > li:last-child {
  position: relative;
}
header > section:nth-child(2) nav > ul > li > a {
  font-weight: 600;
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li > a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
header > section:nth-child(2) nav > ul > li > a:hover {
  color: black;
}
header > section:nth-child(2) nav > ul > li > a:hover::after {
  width: 100%;
  left: 0;
}

@media (max-width: 1024px) {
  #header-logo {
    margin-left: 3rem;
  }
  #header-user {
    margin-right: 3rem;
    width: 100%;
    justify-content: space-between;
  }
  #header-user form[name=busqueda] {
    width: 100%;
  }
  #buscadorAJAX {
    width: 100%;
    margin: 0 1rem;
  }
  #nav-inferior {
    width: 100%;
  }
}
.opciones-usuario {
  position: absolute;
  background-color: #F7F7F7;
  border: 1px solid #dddddd;
  border-radius: 5px;
  z-index: 960;
  margin-left: -8rem;
  display: flex;
  flex-direction: column;
}
.opciones-usuario li {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
}
.opciones-usuario li a {
  text-decoration: none;
  color: black;
}
.opciones-usuario li a:hover {
  text-decoration: underline;
}
.opciones-usuario li:hover {
  background-color: #CACACA;
}

footer {
  display: grid;
  grid-template-columns: 12.5rem auto 12.5rem;
  background-color: #252525;
  color: white;
  margin-top: 1rem;
  padding: 1rem;
}
footer section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer section div:first-child {
  display: flex;
  align-items: center;
}
footer section div:first-child p {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
footer section div:nth-child(2) p {
  text-align: center;
}

@media (max-width: 1024px) {
  footer {
    grid-template-columns: 1rem auto 1rem;
  }
  footer > section > div:nth-child(2) p {
    font-size: small;
  }
}
aside {
  width: 16.25rem;
  height: 100vh;
  background-color: #3F3F3F;
  display: block;
  float: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 2.5rem 1.6rem;
  box-sizing: border-box;
  position: relative;
}
aside section:first-child {
  display: flex;
  align-items: center;
}
aside section:first-child img {
  width: 50px;
  margin-right: 5px;
  border: 1px solid #CACACA;
  border-radius: 50%;
}
aside section:first-child p {
  display: flex;
  flex-direction: column;
}
aside section:first-child p span {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.32px;
}
aside section:first-child p span:last-child {
  letter-spacing: 1.6px;
}
aside section:nth-child(2) {
  margin-top: 6.5rem;
}
aside section:nth-child(3) {
  position: absolute;
  bottom: 2.5rem;
}
aside section > article {
  display: flex;
  align-items: center;
  padding: 0.688rem;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0.7rem auto;
}
aside section > article:hover:not(#adminUser) {
  background-color: #282828;
  cursor: pointer;
}
aside section > article svg {
  width: 20px;
  margin-right: 10px;
}
aside section > article a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
aside section > article span {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
}

#adminUser {
  color: white;
  border-bottom: 1px solid white;
}

.plusminus {
  position: relative;
  width: 1rem;
  cursor: pointer;
}
.plusminus.active:before {
  transform: translatey(-50%) rotate(-90deg);
  opacity: 0;
}
.plusminus.active:after {
  transform: translatey(-50%) rotate(0);
}
.plusminus:before, .plusminus:after {
  content: "";
  display: block;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 0;
  transition: 0.35s;
  width: 100%;
  height: 0.2rem;
}
.plusminus:before {
  transform: translatey(-50%);
}
.plusminus:after {
  transform: translatey(-50%) rotate(90deg);
}

.producto-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 100%;
}

.descripcionProd {
  max-height: 0; /* Inicialmente oculto */
  max-width: 50rem;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out; /* Transición de 0.5 segundos con efecto ease-in-out */
}
.descripcionProd h3 {
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 0.2rem;
}
.descripcionProd h3 span {
  font-weight: 400;
  text-transform: capitalize;
}
.descripcionProd p {
  text-align: justify;
}

.descripcionProd.active {
  max-height: 200px; /* O ajusta a la altura máxima que desees */
}

.pagina-producto {
  margin-top: 2.375rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 3rem auto 1fr;
  row-gap: 1rem;
}
.pagina-producto section:nth-child(1) {
  grid-area: 1/1/2/3;
}
.pagina-producto section:nth-child(2) {
  grid-area: 2/1/3/2;
}
.pagina-producto section:nth-child(3) {
  grid-area: 2/2/3/3;
}
.pagina-producto section:nth-child(4) {
  grid-area: 3/1/4/3;
}
.pagina-producto section:nth-child(1) ul {
  list-style-type: none;
}
.pagina-producto section:nth-child(2) img {
  width: 19.688rem;
  border: 1px solid #CACACA;
}
.pagina-producto section:nth-child(3) {
  margin-left: 3rem;
  margin-top: -1.5rem;
}
.pagina-producto section:nth-child(3) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagina-producto section:nth-child(3) > div h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
.pagina-producto section:nth-child(3) > div span {
  text-decoration: line-through;
  color: #696969;
  font-weight: 400;
  font-size: 1.25rem;
}
.pagina-producto section:nth-child(3) section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
.pagina-producto section:nth-child(3) section div:first-child {
  height: 3rem;
}
.pagina-producto section:nth-child(3) section div:first-child > span {
  color: #848484;
  font-size: 1rem;
  font-weight: 500;
}
.pagina-producto section:nth-child(3) section div:first-child p {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.6rem;
}
.pagina-producto section:nth-child(3) section div:first-child p #si-stock {
  color: #469E00;
}
.pagina-producto section:nth-child(3) section div:first-child p #no-stock {
  color: #950000;
}
.pagina-producto section:nth-child(3) article {
  margin: 1.563rem 0;
}
.pagina-producto section:nth-child(3) article h2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.pagina-producto section:nth-child(3) article span {
  cursor: pointer;
}
.pagina-producto section:nth-child(3) article #container-cantidad {
  display: flex;
}

.mas-productos-container h2 {
  font-size: 2rem;
}
.mas-productos-container h2 span {
  text-transform: capitalize;
}

.mas-productos {
  display: flex;
  flex-wrap: wrap;
}

.btn-comprar {
  background-color: black;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
.btn-comprar:hover {
  background-color: #3F3F3F;
}
.btn-comprar svg {
  width: 1.2rem;
  margin-right: 0.2rem;
}

#btnAnadir, .btn-comprar {
  background-color: black;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
  max-height: 2.5rem;
  height: 2.5rem;
}
#btnAnadir:hover, .btn-comprar:hover {
  background-color: #3F3F3F;
}
#btnAnadir svg, .btn-comprar svg {
  width: 1.2rem;
  margin-right: 0.2rem;
}

.imagen-container {
  overflow: hidden;
  position: relative;
}
.imagen-container img {
  transition: transform 0.3s ease;
  display: block;
  max-width: 100%;
  height: auto;
}
.imagen-container img:focus {
  cursor: move;
}
.imagen-container.zoomed img {
  transform: scale(1.5);
}

.containerCantidad {
  border: 0.5px solid black;
  width: 8.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-right: 0.9rem;
}
.containerCantidad input {
  width: 1rem;
  text-align: center;
  border: none;
  font-size: 1rem;
}
.containerCantidad button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.containerCantidad button svg {
  width: 1.2rem;
}

@media (max-width: 1024px) {
  .reference-product {
    flex-direction: column;
  }
}
.tendencias {
  border: none;
  border-top: 1px solid black;
  margin-top: 1rem;
}
.tendencias h2 {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.tendencias h2 > img {
  width: 32px;
  height: 32px;
}
.tendencias legend {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}

.warp {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.top-card {
  width: 26rem;
  height: 15rem;
  border: 1px solid rgba(202, 202, 202, 0.5960784314);
  border-radius: 10px;
  background: #F7F7F7;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  grid-template-columns: 10.25rem auto;
  grid-template-rows: 1.875rem repeat(2, auto);
  gap: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}
.top-card div:nth-child(1) {
  grid-area: 1/1/4/2;
}
.top-card div:nth-child(2) {
  grid-area: 1/2/2/3;
}
.top-card div:nth-child(3) {
  grid-area: 2/2/3/3;
}
.top-card div:nth-child(4) {
  grid-area: 3/2/4/3;
}
.top-card:hover {
  transform: translateY(-0.4rem);
}
.top-card p {
  font-size: 0.7rem;
  text-align: justify;
  margin-top: 0.5rem;
}
.top-card img {
  width: 9.5rem;
  height: 100%;
  max-height: 13.1rem;
  border-radius: 5px;
  border: 1px solid #dddddd;
}
.top-card h3 {
  color: #B82626;
  display: flex;
  align-items: center;
}
.top-card h3 svg {
  width: 1.5rem;
  margin-right: 0.5rem;
}
.top-card a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.top-card button {
  background-color: black;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.top-card button:hover {
  background-color: #3F3F3F;
}
.top-card button svg {
  width: 1.2rem;
  margin-right: 0.2rem;
}
.top-card div:nth-child(2) {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
}

#visit-page {
  width: 1.3rem;
}

@media (max-width: 10234px) {
  .top-card {
    flex-grow: 1;
  }
  .warp {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 0.5rem;
  }
}
body, html, div, img {
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.slider img {
  max-width: 100%;
}

.slideshow {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 2500ms;
  animation-name: autoplay;
  animation-duration: 25s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
}

.pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pag-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #CCC;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 800ms;
}
.pag-item:hover {
  transform: scale(2);
}
.pag-item img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}
.pag-item:hover img {
  opacity: 1;
}

input[id="1"]:checked ~ .slideshow {
  animation: none;
  transform: translate3d(calc(-100% * 0), 0, 0);
}

input[id="1"]:checked ~ .pagination .pag-item[for="1"] {
  background: #FFF;
}

input[id="2"]:checked ~ .slideshow {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pag-item[for="2"] {
  background: #FFF;
}

input[id="3"]:checked ~ .slideshow {
  animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pag-item[for="3"] {
  background: #FFF;
}

input[id="4"]:checked ~ .slideshow {
  animation: none;
  transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .pagination .pag-item[for="4"] {
  background: #FFF;
}

input[id="5"]:checked ~ .slideshow {
  animation: none;
  transform: translate3d(calc(-100% * 4), 0, 0);
}

input[id="5"]:checked ~ .pagination .pag-item[for="5"] {
  background: #FFF;
}

@keyframes autoplay {
  20% {
    transform: translate3d(0%, 0, 0);
  }
  40% {
    transform: translate3d(-100%, 0, 0);
  }
  60% {
    transform: translate3d(-200%, 0, 0);
  }
  80% {
    transform: translate3d(-300%, 0, 0);
  }
  100% {
    transform: translate3d(-400%, 0, 0);
  }
}
.list-categories-products-header {
  margin-top: 2.8rem;
  margin-bottom: 3.625rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.list-categories-products-header h1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: capitalize;
}

.product-filters {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.product-filters svg {
  width: 1.5rem;
}
.product-filters span {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.product-filters span:first-child {
  margin-right: 1rem;
}
.product-filters span:nth-child(2) {
  flex-grow: 1;
}
.product-filters span:last-child {
  color: gray;
  font-weight: normal;
}

.list-categories-products {
  display: flex;
  flex-wrap: wrap;
}

.grid-productos {
  max-width: 14rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 2.4rem;
  margin: 1rem;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}
.grid-productos div:first-child {
  position: relative;
}
.grid-productos img {
  width: 100%;
  border: 0.5px solid #dddddd;
}
.grid-productos button {
  background-color: black;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  height: 2.4rem;
  min-height: 2.4rem;
  max-width: 14rem;
  margin-top: 0.5rem;
}
.grid-productos button:hover {
  background-color: #3F3F3F;
}
.grid-productos button svg {
  width: 1.2rem;
  margin-right: 0.2rem;
}
.grid-productos a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}
.grid-productos span:not(.tendencia) {
  font-weight: 400;
  font-size: 1rem;
}
.grid-productos:hover {
  transform: translateY(-0.3rem);
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
}
.breadcrumbs a {
  color: black;
  text-decoration: none;
  display: flex;
}
.breadcrumbs a svg {
  width: 1.2rem;
  margin-right: 0.3rem;
}

.tendencia {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #950000;
  color: white;
  display: flex;
  padding: 0.2rem 1rem;
  border-radius: 15px;
  font-size: 1rem;
}
.tendencia svg {
  width: 1rem;
}

.popup-container {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 998;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  width: 100%;
  max-width: 60rem;
  height: 32rem;
  background-color: #F7F7F7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 999;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.popup h1 {
  font-size: 1.8rem;
  font-weight: 500;
}
.popup span {
  color: gray;
  margin-bottom: 2rem;
  font-size: small;
}

#iniciar-sesion {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-sizing: border-box;
}
#iniciar-sesion h1 {
  font-size: 2rem;
  font-weight: 500;
}
#iniciar-sesion span {
  color: gray;
  margin-bottom: 2rem;
  font-size: small;
}

#registrarse {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .popup {
    width: 100%;
    max-width: 32rem;
    height: 60rem;
    flex-direction: column;
  }
  #iniciar-sesion, #registrarse {
    width: 100%;
  }
}
.separator {
  height: 100%;
  max-height: 28rem;
  width: 2px;
  background-color: black;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .separator {
    height: 2px;
    width: 100%;
  }
}
form[name=iniciar-sesion] {
  max-width: 15rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  row-gap: 5px;
}
form[name=iniciar-sesion] label {
  text-align: left;
  font-weight: 500;
  font-size: 0.9rem;
}
form[name=iniciar-sesion] input {
  box-sizing: border-box;
  width: 100%;
  height: 1.9rem;
  outline: none;
  border: 1px solid #CACACA;
  border-radius: 5px;
  background-color: #dddddd;
  padding-left: 0.7rem;
}
form[name=iniciar-sesion] input:focus {
  background-color: #ececec;
}
form[name=iniciar-sesion] input[type=submit] {
  margin-top: 1rem;
  padding-left: 0px;
  background-color: black;
  color: white;
  border: none;
  font-weight: 600;
}
form[name=iniciar-sesion] input[type=submit]:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: background-color 0.5s ease-in-out;
}

form[name=registrarse] {
  width: 100%;
  max-width: 27rem;
  max-height: 20rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, 1fr);
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
form[name=registrarse] div:nth-child(1) {
  grid-area: 1/1/2/2;
}
form[name=registrarse] div:nth-child(2) {
  grid-area: 1/2/2/3;
}
form[name=registrarse] div:nth-child(3) {
  grid-area: 2/1/3/2;
}
form[name=registrarse] div:nth-child(4) {
  grid-area: 2/2/3/3;
}
form[name=registrarse] div:nth-child(5) {
  grid-area: 3/1/4/3;
}
form[name=registrarse] div:nth-child(6) {
  grid-area: 4/1/5/3;
}
form[name=registrarse] div:nth-child(7) {
  grid-area: 5/1/6/3;
}
form[name=registrarse] div:nth-child(8) {
  grid-area: 6/1/7/3;
}
form[name=registrarse] div:nth-child(9) {
  grid-area: 7/1/8/3;
}
form[name=registrarse] div:nth-child(10) {
  grid-area: 8/1/9/3;
}
form[name=registrarse] div:nth-child(11) {
  grid-area: 9/1/10/2;
}
form[name=registrarse] div:nth-child(12) {
  grid-area: 9/2/10/3;
}
form[name=registrarse] div:nth-child(13) {
  grid-area: 10/1/11/2;
}
form[name=registrarse] div:nth-child(14) {
  grid-area: 10/2/11/3;
}
form[name=registrarse] div:nth-child(15) {
  grid-area: 11/1/12/3;
}
form[name=registrarse] label {
  text-align: left;
  font-weight: 500;
  font-size: 0.9rem;
}
form[name=registrarse] label::after {
  content: "*";
  color: #B82626;
  margin-left: 2px;
}
form[name=registrarse] input {
  box-sizing: border-box;
  width: 100%;
  height: 1.9rem;
  outline: none;
  border: 1px solid #CACACA;
  border-radius: 5px;
  background-color: #dddddd;
  padding-left: 0.7rem;
}
form[name=registrarse] input:focus {
  background-color: #ececec;
}
form[name=registrarse] input[type=submit] {
  margin-top: 1rem;
  padding-left: 0px;
  background-color: transparent;
  border: 1px solid black;
  font-weight: 600;
}
form[name=registrarse] input[type=submit]:hover {
  background-color: black;
  color: white;
  transition: background-color 0.5s ease-in;
}

#buscadorAJAX {
  position: relative;
}

#resultadosDiv {
  position: absolute;
  width: 40rem;
  background-color: white;
  border-radius: 5px;
  z-index: 901;
}
#resultadosDiv a {
  text-decoration: none;
  color: black;
}
#resultadosDiv a:hover {
  background-color: #dddddd;
}

.page-title {
  font-weight: bold;
  font-size: 3rem;
  margin: 2rem 0rem;
}

#orders-table {
  width: 100%;
}
#orders-table tbody td:first-child {
  width: 20rem;
}
#orders-table tbody td:first-child svg {
  width: 1.5rem;
}

#resumen-compra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
#resumen-compra section:first-child {
  width: calc(100% - 30rem);
}
#resumen-compra section:last-child {
  border: 1px solid #CACACA;
  border-radius: 5px;
  width: 20rem;
  background-color: #F7F7F7;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
}
#resumen-compra section:last-child h2 {
  font-size: 2rem;
}

.item-carrito {
  display: grid;
  grid-template-columns: 9rem repeat(2, 1fr) auto;
  grid-template-rows: repeat(2, 6rem);
  width: 100%;
  max-height: 12rem;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid black;
}
.item-carrito div:nth-child(1) {
  grid-area: 1/1/4/2;
}
.item-carrito div:nth-child(2) {
  grid-area: 1/2/2/4;
}
.item-carrito div:nth-child(3) {
  grid-area: 1/4/2/5;
}
.item-carrito div:nth-child(4) {
  grid-area: 2/2/3/5;
}
.item-carrito div {
  position: relative;
}
.item-carrito div img {
  width: 100%;
  border: 1px solid #dddddd;
}
.item-carrito div h3 {
  font-size: 1.8rem;
}
.item-carrito div svg {
  width: 1rem;
}
.item-carrito div button.action-eliminar {
  width: 8rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 5px;
  background-color: black;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  background-color: #B82626;
}
.item-carrito div button.action-eliminar:hover {
  background-color: #3F3F3F;
}
.item-carrito div button.action-eliminar svg {
  width: 1.2rem;
  margin-right: 0.2rem;
}
.item-carrito div span.price-detail {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.item-carrito div.grid-area-cantidad {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.input {
  width: 100%;
  background-color: #3F3F3F;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  margin: 0.7rem auto;
  box-sizing: border-box;
}
.input:focus {
  background-color: #575757;
}

option {
  text-transform: capitalize;
}

.form-products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(9, auto);
  gap: 0.5rem;
  box-sizing: border-box;
}
.form-products div:nth-child(1) {
  grid-area: 1/1/2/2;
}
.form-products div:nth-child(2) {
  grid-area: 2/1/3/2;
}
.form-products div:nth-child(3) {
  grid-area: 1/2/2/3;
}
.form-products div:nth-child(4) {
  grid-area: 2/2/3/3;
}
.form-products div:nth-child(5) {
  grid-area: 3/1/4/2;
}
.form-products div:nth-child(6) {
  grid-area: 4/1/5/2;
}
.form-products div:nth-child(7) {
  grid-area: 3/2/4/3;
}
.form-products div:nth-child(8) {
  grid-area: 4/2/5/3;
}
.form-products div:nth-child(9) {
  grid-area: 5/1/6/2;
}
.form-products div:nth-child(10) {
  grid-area: 6/1/7/2;
}
.form-products div:nth-child(11) {
  grid-area: 5/2/6/3;
}
.form-products div:nth-child(12) {
  grid-area: 6/2/7/3;
}
.form-products div:nth-child(13) {
  grid-area: 7/1/8/3;
}
.form-products div:nth-child(14) {
  grid-area: 8/1/9/3;
}
.form-products div:nth-child(15) {
  grid-area: 9/1/10/3;
}
.form-products div:last-child {
  display: flex;
  justify-content: end;
}

.btn-submit {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border: 0.5px solid #525252;
  border-radius: 5px;
  background-color: #3F3F3F;
  color: white;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #575757;
}
.btn-submit svg {
  width: 1.2rem;
}

.btn-cancelar {
  border: none;
  background-color: transparent;
  color: white;
  margin-right: 1rem;
}

#loginAdmin {
  width: 100%;
  height: 100vh;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loginAdmin div {
  background-color: #3F3F3F;
  padding: 1.5rem;
  width: 25rem;
  height: 27rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
#loginAdmin div form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 8rem 1.5rem 3rem 1.5rem 3rem 4rem;
  align-items: center;
  width: 20rem;
}
#loginAdmin div form h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
#loginAdmin div form label {
  color: white;
  font-weight: 600;
}
#loginAdmin div form input[type=text], #loginAdmin div form input[type=password] {
  width: 100%;
  background-color: #575757;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  margin: 0.7rem auto;
  box-sizing: border-box;
}
#loginAdmin div form input[type=text]:focus, #loginAdmin div form input[type=password]:focus {
  background-color: #616161;
}
#loginAdmin div form input[type=submit] {
  background-color: black;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  height: 2.2rem;
}
#loginAdmin div form input[type=submit]:hover {
  background-color: #3F3F3F;
}
#loginAdmin div form input[type=submit] svg {
  width: 1.2rem;
  margin-right: 0.2rem;
}
#loginAdmin div form input[type=submit]:hover {
  background-color: rgb(31, 31, 31);
}

.admin-headers {
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid #3F3F3F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.admin-headers h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.admin-headers a, .admin-headers button {
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: content-box;
  background-color: #3F3F3F;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
}
.admin-headers a:hover, .admin-headers button:hover {
  background-color: #575757;
}
.admin-headers a svg, .admin-headers button svg {
  width: 25px;
}

main.dashboard {
  width: 100%;
  height: 100vh;
  background-color: #282828;
  color: white;
}

.admin-content {
  margin-left: 16.25rem;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 2rem;
}
.admin-content fieldset {
  border-radius: 10px;
  margin: 2rem 4rem;
  border: 2px solid #3F3F3F;
  padding: 1rem;
  box-sizing: border-box;
}

.admin-busqueda {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.admin-busqueda > form {
  margin: 1.5rem 0rem;
  position: relative;
  display: flex;
  align-items: center;
}
.admin-busqueda > form svg {
  width: 1.5rem;
  position: absolute;
  right: 0.7rem;
}
.admin-busqueda > form > input {
  width: 21.063rem;
  padding: 0.7rem 1rem;
  background-color: #3F3F3F;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
}

table.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #3F3F3F;
  border-radius: 10px;
}
table.admin-table tr td {
  padding: 1rem 0.5rem;
  text-transform: capitalize;
}
table.admin-table tr td a {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
table.admin-table tr td a.editar {
  color: #3b82f6;
}
table.admin-table tr td a.eliminar {
  color: rgb(202, 0, 0);
}
table.admin-table tr td span {
  display: flex;
  align-items: center;
  background-color: #228b22;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 20px;
}
table.admin-table tr td svg {
  width: 1.5rem;
  height: 1.5rem;
}
table.admin-table tr td img {
  width: 2rem;
}
table.admin-table tr th {
  text-align: left;
  padding: 0.5rem 0.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
table.admin-table tr:nth-child(even) {
  background-color: #575757;
}

form[name=editarCategoria] {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

#lienzo {
  width: 40rem;
  height: 20rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #F7F7F7;
}

#toggleBtn, #guardarBtn {
  width: 10rem;
  height: 3rem;
  background-color: #575757;
  border: 0.5px solid #616161;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#toggleBtn:hover:not(#guardarBtn), #guardarBtn:hover:not(#guardarBtn) {
  background-color: #616161;
}
#toggleBtn svg, #guardarBtn svg {
  width: 1.1rem;
  margin-right: 0.5rem;
}

#icon-borrar {
  display: none;
}

#guardarBtn {
  background-color: #228b22;
}
#guardarBtn:hover {
  background-color: #269926;
}

#canvas-btn-container {
  width: -moz-fit-content;
  width: fit-content;
  height: 7rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#canvas-container {
  display: flex;
  margin-top: 3rem;
}

#chartContainer {
  background-color: #575757;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.page-grid {
  display: grid;
  grid-template-columns: 12.5rem auto 12.5rem;
  min-height: 100vh;
}

main#index div:nth-child(2) section:nth-child(2) {
  margin-top: 2rem;
}
main#index div:nth-child(2) section:nth-child(2) h2 {
  margin: 1rem auto;
  font-weight: 600;
}
main#index div:nth-child(2) section:nth-child(2) > div {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 11rem);
  overflow: hidden;
}
main#index div:nth-child(2) section:nth-child(2) > div a {
  overflow: hidden;
  background-color: rgba(41, 41, 41, 0.7);
  position: relative;
}
main#index div:nth-child(2) section:nth-child(2) > div a:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
}
main#index div:nth-child(2) section:nth-child(2) > div a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: darken;
  transition: transform 0.3s ease-in-out;
}
main#index div:nth-child(2) section:nth-child(2) > div a span {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3.6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main#index div:nth-child(2) section:nth-child(2) > div a:hover img {
  transform: scale(1.5);
}

#anadirCategoria {
  position: absolute;
  right: 0;
  top: 5rem;
  background-color: #3F3F3F;
  border-radius: 10px;
}
#anadirCategoria fieldset {
  margin: 1rem;
}
#anadirCategoria fieldset form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}

.btn-primary {
  background-color: black;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
  height: 2.5rem;
  max-height: 1.75rem;
}
.btn-primary:hover {
  background-color: #3F3F3F;
}
.btn-primary svg {
  width: 1.2rem;
  margin-right: 0.2rem;
}

@media (max-width: 1024px) {
  .page-grid {
    grid-template-columns: 1rem auto 1rem;
  }
}/*# sourceMappingURL=main.css.map */