.pagina-producto {
  margin-top: 2.375rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 3rem auto 1fr;
  row-gap: 1rem;
}
.pagina-producto section:nth-child(1) {
  grid-area: 1/1/2/3;
}
.pagina-producto section:nth-child(2) {
  grid-area: 2/1/3/2;
}
.pagina-producto section:nth-child(3) {
  grid-area: 2/2/3/3;
}
.pagina-producto section:nth-child(4) {
  grid-area: 3/1/4/3;
}
.pagina-producto section:nth-child(1) ul {
  list-style-type: none;
}
.pagina-producto section:nth-child(2) img {
  width: 19.688rem;
  border: 1px solid #CACACA;
}
.pagina-producto section:nth-child(3) {
  margin-left: 3rem;
  margin-top: -1.5rem;
}
.pagina-producto section:nth-child(3) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagina-producto section:nth-child(3) > div h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
.pagina-producto section:nth-child(3) > div span {
  text-decoration: line-through;
  color: #696969;
  font-weight: 400;
  font-size: 1.25rem;
}
.pagina-producto section:nth-child(3) section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
}
.pagina-producto section:nth-child(3) section div:first-child {
  height: 3rem;
}
.pagina-producto section:nth-child(3) section div:first-child > span {
  color: #848484;
  font-size: 1rem;
  font-weight: 500;
}
.pagina-producto section:nth-child(3) section div:first-child p {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.6rem;
}
.pagina-producto section:nth-child(3) article {
  margin: 1.563rem 0;
}
.pagina-producto section:nth-child(3) article h2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.pagina-producto section:nth-child(3) article span {
  cursor: pointer;
}
.pagina-producto section:nth-child(3) article #container-cantidad {
  display: flex;
}

#si-stock {
  color: #469E00;
}

#no-stock {
  color: #950000;
}

.mas-productos-container h2 {
  font-size: 2rem;
}
.mas-productos-container h2 span {
  text-transform: capitalize;
}

.mas-productos {
  display: flex;
  flex-wrap: wrap;
}

.btn-comprar {
  background-color: black;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
.btn-comprar:hover {
  background-color: #3F3F3F;
}
.btn-comprar svg {
  width: 1.2rem;
  margin-right: 0.2rem;
}

#btnAnadir, .btn-comprar, #btnAnadirNoLog {
  background-color: black;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
  max-height: 2.5rem;
  height: 2.5rem;
}
#btnAnadir:hover, .btn-comprar:hover, #btnAnadirNoLog:hover {
  background-color: #3F3F3F;
}
#btnAnadir svg, .btn-comprar svg, #btnAnadirNoLog svg {
  width: 1.2rem;
  margin-right: 0.2rem;
}

.imagen-container {
  overflow: hidden;
  position: relative;
}
.imagen-container img {
  transition: transform 0.3s ease;
  display: block;
  max-width: 100%;
  height: auto;
}
.imagen-container img:focus {
  cursor: move;
}
.imagen-container.zoomed img {
  transform: scale(1.5);
}

.containerCantidad {
  border: 0.5px solid black;
  width: 8.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-right: 0.9rem;
}
.containerCantidad input {
  width: 1rem;
  text-align: center;
  border: none;
  font-size: 1rem;
}
.containerCantidad button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.containerCantidad button svg {
  width: 1.2rem;
}

@media (max-width: 1024px) {
  .reference-product {
    flex-direction: column;
  }
  .pagina-producto section:nth-child(3) {
    margin-left: 1rem;
  }
}/*# sourceMappingURL=page.css.map */